<!DOCTYPE html>
<html>
<head>
  <title>課題一覧</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="left">
    <h1>課題一覧</h1>
    <ul>
      <% @challenges.each do |name, url| %>
        <li>
          <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= name %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="right">
    <h1>教材一覧</h1>
    <ul>
      <% @texts.each do |name, steps| %>
        <li>
          <a href="/<%=name%>"><%=name%></a>
          <ul>
            <% steps.each do |step| %>
              <li>
                <%= step %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
</body>
</html>

